{% load humanize search_tags %}

<!-- prettier-ignore -->
{% for facet in filter.get_facets %}
<p class="font-semibold pb-3 dark:text-gray-300">
  <!-- prettier-ignore -->
  {% if facet.label %}{{ facet.label|title }}{% else %}{{ facet.filter.label|title }}{% endif %}
</p>
<div
  class="text-sm font-medium text-gray-900 bg-white {% if not forloop.last %}mb-5{% endif %} border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
>
  {% for facet_item in facet.items_for_display %}
  <a
    href="{% if facet_item.is_active %}{% remove_qsarg facet.filter_name %}{% else %}{% add_qsarg facet.filter_name facet_item.value %}{% endif %}"
    class="block py-2 px-4 w-full {% if facet_item.is_active %}text-white bg-blue-700 dark:bg-gray-900{% endif %} {% if not forloop.last %}border-b{% endif %} border-gray-200 cursor-pointer {% if not facet_item.is_active %}hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700{% endif %} dark:border-gray-600 {% if facet_item.is_active %}dark:hover:bg-gray-900{% else %}dark:hover:bg-gray-600{% endif %} dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
  >
    {{ facet_item.label|title }}
    <span class="text-gray-400">({{ facet_item.count|intcomma }})</span>
    {% if facet_item.is_active %}
    <span class="float-right">
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      {% endif %}
    </span>
  </a>
  {% endfor %}
</div>
{% endfor %}
