{% load humanize search_tags %}

<!-- prettier-ignore -->
{% for facet in filter.get_facets %}
<p class="font-semibold pb-3">
  <!-- prettier-ignore -->
  {% if facet.label %}{{ facet.label|title }}{% else %}{{ facet.filter.label|title }}{% endif %}
</p>
<div
  class="text-sm font-medium text-gray-900 bg-white {% if not forloop.last %}mb-5{% endif %} border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
>
  {% for facet_item in facet.items_for_display %}
  <a
    href="{% if facet_item.is_active %}{% remove_qsarg facet.field_name %}{% else %}{% add_qsarg facet.field_name facet_item.value %}{% endif %}"
    class="block py-2 px-4 w-full {% if facet_item.is_active %}text-white bg-blue-700{% endif %} {% if not forloop.last %}border-b{% endif %} border-gray-200 cursor-pointer {% if not facet_item.is_active %}hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700{% endif %} dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
  >
    {{ facet_item.label|title }}
    <span class="text-gray-400">({{ facet_item.count|intcomma }})</span>
  </a>
  {% endfor %}
</div>
{% endfor %}
