[defaults]
roles_path = roles/
inventory = inventory
vault_password_file = ./echo-vault-pass.sh
any_errors_fatal = true
error_on_undefined_vars = true
# Make errors more readable
# human-readable stdout/stderr results display
stdout_callback = yaml
