{% extends 'base.html' %}
{% load search_tags %}

{% block title %}NC Traffic Stops{% endblock %}

{% block content %}
<!-- Posts Section -->
<section class="w-full md:w-2/3 flex flex-col items-center px-3">
  <div class="overflow-x-auto relative">
    <table
      class="w-full table text-sm text-left text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">Stop Date</th>
          <th scope="col" class="py-3 px-6">Race</th>
          <th scope="col" class="py-3 px-6">Gender</th>
          <th scope="col" class="py-3 px-6">Officer ID</th>
          <th scope="col" class="py-3 px-6">Stop Purpose</th>
          <th scope="col" class="py-3 px-6">Search Type</th>
        </tr>
      </thead>
      <tbody>
        {% for stop in object_list %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ stop.date }}
          </th>
          <td class="py-4 px-6">{{ stop.driver_race }}</td>
          <td class="py-4 px-6">
            {% get_facet_display filter 'driver_gender' stop.driver_gender %}
          </td>
          <td class="py-4 px-6">{{ stop.officer_id }}</td>
          <td class="py-4 px-6">{{ stop.get_purpose_display }}</td>
          <td class="py-4 px-6">
            {% if stop.search_type %}{% get_facet_display filter 'search_type' stop.search_type %}{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="flex flex-col items-center">
    <div class="inline-flex mt-2 xs:mt-0">
      <!-- Buttons -->
      <a
        href="{% if page_obj.has_previous %}{{ request.path }}?page={{ page_obj.previous_page_number }}{% endif %}"
        class="inline-flex items-center py-2 px-4 text-sm disabled font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <svg
          aria-hidden="true"
          class="mr-2 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Prev
      </a>
      <a
        href="{% if page_obj.has_next %}{{ request.path }}?page={{ page_obj.next_page_number }}{% endif %}"
        class="inline-flex items-center py-2 px-4 text-sm font-medium text-white bg-gray-800 rounded-r border-0 border-l border-gray-700 hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Next
        <svg
          aria-hidden="true"
          class="ml-2 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<!-- Sidebar Section -->
<aside class="w-full md:w-1/3 flex flex-col items-center px-3">
  <div class="w-full bg-white shadow flex flex-col px-6 pb-6 dark:bg-slate-600">
    <div class="w-full pt-4 mb-4">
      <h1 class="font-serif text-2xl border-b-4">North Carolina Traffic Stops</h1>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Source: <a target="_blank" class="no-underline hover:underline" href="https://nccopwatch.org/">NC CopWatch</a></p>
    </div>
    {% show_facets filter %}
  </div>
</aside>
{% endblock %}
