name: test

on:
  pull_request:
  push:
    branches: [main, develop]

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        # From:
        # https://docs.github.com/en/actions/guides/creating-postgresql-service-containers
        image: postgres:12
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'poetry'
      - name: Install dependencies
        run: |
          sudo apt-get update
          # sudo apt-get install -y --no-install-recommends postgresql-client-12
          poetry install
      - name: Run pre-commit
        run: |
           poetry run pre-commit install
           poetry run pre-commit run --all-files
      - name: Run tests
        run: |
          poetry run pytest
        env:
          DJANGO_SETTINGS_MODULE: example_project.settings
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
